@import "tailwindcss";

html {
  overflow-x: hidden;
}

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url("../src/assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: SF-Pro-Display-Semibold;
  src: url("../src/assets/fonts/SF-Pro-Display-Semibold.otf");
}

@theme {
  --font-sf-regular: SF-Pro-Display-Regular, 'sans-serif';
  --font-sf-semibold: SF-Pro-Display-Semibold, 'sans-serif';
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}